.instructions {
    border: 1px solid #000000;
}

.logo {
    width: 50%;
}

#bar-chart {
    width: 100%;
}

#message {
    font-size: 20px;
}

#selected-image {
    width: 100%;
}

h3 {
    margin-top: 16px;
}

.aircraft {
    font-weight: bold;
    text-decoration: underline;
}

a {
    text-decoration: none;
}