<html lang="en">
    <head>
        <title>Airplane Spotter</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <body class="container">
        <div class="row">
            <div class="col-12 text-center p-3">
                <h1>Airplane Spotter</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row instructions">
                    <div class="col-12">
                        <h3>Instructions</h3>
                        <ol>
                            <li>Choose a photo of a <span class="aircraft">Boeing 787 Dreamliner</span> or an <span class="aircraft">Airbus A350</span> from your computer, mobile device, or tablet.</li>
                            <li>Enter an API key, which you can request from <a href="mailto:bj.peter.delacruz@gmail.com">BJ Dela Cruz</a>.</li>
                            <li>Then upload the photo, which will <span class="important">not</span> be stored on the server and will only be processed by Azure Custom Vision.</li>
                            <li>The server will return a chart depicting the percent confidence level for both types of aircraft. Please contact BJ if the prediction is off the mark.</li>
                        </ol>
                    </div>
                </div>
                <div class="text-center">
                    <img alt="Dreamliner logo" src="{{ url_for('static', filename='img/dreamliner_logo.svg') }}" class="logo mb-3">
                    <img alt="A350 logo" src="{{ url_for('static', filename='img/a350_logo.svg') }}" class="logo mb-3">
                </div>
                <div class="row mt-3">
                    <div class="offset-2 col-8 custom-file">
                        <input type="file" name="photograph" class="custom-file-input form-control"
                               id="photograph" onchange="displayImage(this);" accept="image/jpeg">
                        <div class="form-floating">
                            <input id="api-key" type="text" name="api-key" class="form-control" placeholder="API Key">
                            <label for="api-key">API Key</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="offset-4 col-4 text-center">
                        <button id="upload-button" class="btn btn-success" onclick="sendImage()">Upload Photo</button>
                    </div>
                </div>
                <div id="message" class="mt-3 alert alert-info" style="display: none">
                    The aircraft is&nbsp;<span id="aircraft-type"></span>&nbsp;with&nbsp;<strong id="confidence-level"></strong>&nbsp;confidence.
                </div>
                <div id="error" class="mt-3 alert alert-danger" style="display: none"></div>
                <div class="row pl-3 pt-0 pr-3 pb-3">
                    <div class="col-6 p-3 text-center">
                        <img id="selected-image" src="" alt="The selected photograph to upload" style="display: none" />
                    </div>
                    <div class="col-6">
                        <img id="bar-chart" src="" alt="The prediction results displayed in a pie chart" style="display: none" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        Copyright &copy; <span id="copyright-year"></span> <a href="https://bjdelacruz.dev" target="_blank">BJ Peter Dela Cruz</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
